= link_to defer_url( parent,resource), class: 'preferred green-text', ref: resource._ref, data: { id: resource.id }, title: t('prefer_%s' % resource_name) do
  %i.material-icons.preferred.green-text bookmark

:javascript
  eval("#{set_toasts}");
